APP_ID="task"
APP_DEBUG=true
APP_TRACE=true
APP_TIMEZONE="Asia/Shanghai"
APP_HOST=""
APP_MOBILE_HOST=""
APP_STATIC_HOST=""
APP_API_HOST=""
APP_ADMIN_HOST=""
APP_LICENSE=""
SITE_NAME=""
SITE_DOMAIN=""
DB_TYPE="mysql"
DB_HOSTNAME="mysql"
DB_DATABASE=""
DB_USERNAME=""
DB_PASSWORD=""
DB_HOSTPORT=""
DB_CHARSET=""
DB_DEBUG=true
CACHE_DRIVER="File"
CACHE_HOST=""
CACHE_PORT=""
CACHE_PASSWORD=""
CACHE_EXPIRE=""
WECHAT_UNION_ID=true
PAGE_SIZE="10"