,
method: 'post',
toolbar: '#toolbarDemo',request: {
    pageName: 'page' //页码的参数名称，默认：page
    ,limitName: 'page_size' //每页数据量的参数名，默认：limit
},
parseData: function(res){ //res 即为原始返回的数据
    ajax_response_filtr(res,$adminConfig);
    let datas = [];
    if(res.data && res.data.length >= 1){
    for (let key in res.data){
        let data = res.data[key];
        data.tool = false;
        datas.push(data);
    }
    }
    return {
    "code": res.status == 200 ? 0 : res.status, //解析接口状态
    "msg": res.message, //解析提示文本
    "count": res.params.pages.total, //解析数据长度
    "data": datas //解析数据列表
    };
},
limits: [10, 15, 20, 25, 50, 100],
limit: 10,
page: true,
loading: true,
skin: 'line'