<{include file="public/header" /}>
<style>

    .layuimini-form  .layui-form-item  .required:after {
        content: '*';
        color: red;
        position: absolute;
        margin-left: 4px;
        font-weight: bold;
        line-height: 1.8em;
        top: 6px;
        right: 5px;
    }

</style>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-form layuimini-form">
            <blockquote class="layui-elem-quote">基础配置</blockquote>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label required" style="min-width: 150px">access_id</label>
                    <div class="layui-input-inline" style="min-width: 320px">
                        <input type="text" name="sms_access_id" lay-verify="required" lay-reqtext="access_id不能为空" placeholder="请输入access_id"  value="<{$configs['sms_access_id']}>" class="layui-input" maxlength="100">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label required" style="min-width: 150px">access_secret</label>
                    <div class="layui-input-inline" style="min-width: 320px">
                        <input type="password" name="sms_access_secret" lay-verify="required" lay-reqtext="access_secret不能为空" placeholder="请输入access_secret"  value="<{$configs['sms_access_secret']}>" class="layui-input" maxlength="100">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label required" style="min-width: 150px">签名名称</label>
                    <div class="layui-input-inline" style="min-width: 320px">
                        <input type="text" name="sms_sign_name" lay-verify="required" lay-reqtext="签名名称不能为空" placeholder="请输入签名名称"  value="<{$configs['sms_sign_name']}>" class="layui-input" maxlength="30">
                    </div>
                </div>
            </div>
            <blockquote class="layui-elem-quote">模板配置</blockquote>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label required" style="min-width: 150px">验证码ID</label>
                    <div class="layui-input-inline" style="min-width: 320px">
                        <input type="text" name="sms_template_ids[1001]" lay-verify="required" lay-reqtext="验证码模板ID不能为空" placeholder="请输入验证码模板ID"  value="<{$configs['sms_template_ids']['1001']}>" class="layui-input" maxlength="30">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form','miniTab','upload'], function () {
        var form = layui.form,
            layer = layui.layer,
            upload = layui.upload,
            miniTab = layui.miniTab;

        form.render();

        //监听提交
        form.on('submit(saveBtn)', function (data) {

            let fields = data.field;
            let url = "<{:admin_api_url('setting/sms')}>";
            $.post(url,fields,function(res){
                ajax_response_filtr(res,$adminConfig);
                if(res.status == 200){
                    layer.msg('操作成功', {
                        time:1500
                    }, function () {
                        location.reload()
                    });
                }
            },'json');

            return false;
        });

    });
</script>
<{include file="public/footer" /}>