<div class="audit_box layui-form layuimini-form" style="padding: 20px;">

    <input type="hidden" name="id" value="<{$info.id}>">

    <div class="layui-form-item">
        <label class="layui-form-label required">当前押金:</label>
        <div class="layui-input-inline">
            <input type="number" value="<{:fen_to_float($info['deposit'])}>" class="layui-input" readonly style="border: none">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">变动类型:</label>
        <div class="layui-input-block merchant_level_box">
            <input type="radio" name="set_type" value="1" title="增加" checked>
            <input type="radio" name="set_type" value="2" title="减少">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">变动金额:</label>
        <div class="layui-input-inline">
            <input type="number" name="money" value="" lay-verify="required" lay-reqtext="变动金额不能为空" placeholder="请输入变动金额" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="LAY-deposit-update-submit" id="LAY-deposit-update-submit" value="确认">
    </div>

</div>